@-ms-viewport{
  width: device-width;
}


.main-header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #000000;
	margin-bottom: 30px;
}

.main-footer {
	padding-top: 1.0em;
	padding-bottom: 1.0em;
	background: Gold;
	margin-bottom: 30px;
}



	
h1{
    text-align: center; 
    color: #ffffff;
    font-weight: 40 px;
}



body {
    max-width: 600px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 1.5;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}

h2 {
    text-align: left;
    color: #000000;
    font-weight: 15;
    line-height: 1.3;
}


img {
    float: right;	
    max-width: 180px;
    max-height: 150px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 12px;
}

img.food {
	float: left;
	padding-right: 0px;
	padding-left: 12px;
}

a:link {
	color: gold;
}

a:visited {
	color: DarkGoldenrod;
}
