
.main-header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #000000;
	margin-bottom: 30px;
}

div.content {
	max-width: 600px;
}
	




h1{
    text-align: center; 
    color: #ffffff;
    font-weight: 40 px;
}



html {
    background: #f6f4e6;
}

body {
    background: #f6f4e6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 1.5;
    margin: 0 auto;
}

h2 {
    text-align: left;
    color: #000000;
    font-weight: 15;
    line-height: 1.3;
}


img {
    float: right;	
    max-width: 150px;
}
